%ul.unstyled.games
  - @games.each do |game|
    %li.row
      .large-12.columns
        %span.title= game.title
        = link_to my_game_path(game), method: :delete, remote: true, class: 'remove-game-link' do
          %i.icon-remove-circle
