%h1 My Games

%section.add-game-form-section
  = form_tag my_games_path, remote: true do
    .row
      .large-10.columns
        %input.game-title-input(type="text" name="game[title]" placeholder="Game Title")
      .large-2.columns
        %input.add-game-button.button.expand(type="submit" value="Add")

%section#games
  = render 'games'
