%h1 My Games

%section
  = form_tag my_games_path, remote: true do
    .row.collapse
      .large-10.columns
        %input(type="text" name="game[title]" placeholder="Game Title")
      .large-2.columns
        %input.button.prefix(type="submit" value="Add")

%section#games
  = render 'games'
