<section class="alerts row">
  <div class="large-12 columns">
    <% flash.each do |type, msg| %>
      <% next if msg.blank? %>
      <div data-alert class="alert-box <%= foundation_alert_class(type) %>">
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
</section>
