<%= content_for(:title) { 'Games List' } %>

<div class="row">
  <div class="large-12 columns text-center">
    <header class="main-title">
      <h1>Welcome to Games List</h1>
      <p>Track the board games you and your friends own</p>
    </header>
  </div>
</div>
<div class="row">
  <div class="large-12 columns text-center home-buttons">
    <%= link_to 'Login', new_user_session_path, class: 'button' %>
    <%= link_to 'Signup', new_user_registration_path, class: 'button' %>
  </div>
</div>

