span.title {
	font-size: 2em;
}
form {
	margin-bottom: 0;
}
input.game-title-input {
	font-size: 1.7em;
}
input.add-game-button {
	font-size: 1.7em;
	padding: 0.6em;
	margin-bottom: 0;
}
input.remove-game-button {
	margin-bottom: 0;
}

.add-game-form-section {
	input, button {
		margin: 0;
	}
	margin-bottom: 1em;
}

.games {
	a.remove-game-link {
		i { margin-left: 0.5em; }
		font-size: 2em;
		color: gray;
		&:hover, &:focus {
			color: red;
		}
		display: none;
	}
}
