span.title {
	font-size: 2em;
}

form {
	margin-bottom: 0;
}

input.game-title-input {
	font-size: 1.7em;
}

.add-game-form-section {
	margin-bottom: 1em;
	input, button {
		margin-bottom: 0;
	}
	.add-game-button, .remove-games-button {
		color: gray;
		background-color: white;
		border: none;
		font-size: 4em;
		padding: 0;
	}
	.add-game-button {
		margin-left: 0.5em;
		&:focus, &:hover {
			color: midnightblue;
		}
	}
	.remove-games-button {
		&:focus, &:hover {
			color: lightgray;
		}
	}
	.edit-mode {
		color: firebrick;
		&:focus, &:hover {
			color: firebrick;
		}
	}
}

input.remove-game-button {
	margin-bottom: 0;
}

.games {
	a.remove-game-link {
		i { margin-left: 0.5em; }
		font-size: 2em;
		color: gray;
		&:hover, &:focus {
			color: red;
		}
		display: none;
	}
}
