.main-title {
  h1 {
    margin-bottom: 0.3em;
  }
  p {
    margin-top: 0;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2em;
    color: darkgray;
  }
}

.home-buttons {
  margin-top: 1em;
  a {
    margin: 0 0.5em;
  }
}
